# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Neovim
.nvimlog

# tmux
tmux-*.log

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Ansible
*.retry

# Python
__pycache__/
*.pyc

# Environment files
.env
.env.*

# Temporary files
*.tmp
*.swp
*.swo

# Local overrides
.local/
